@import "tailwindcss";

<<<<<<< HEAD
@tailwind utilities;


=======
@tailwind base;
@tailwind components;
@tailwind utilities;

>>>>>>> 60447a0 (feat: FoodsSlideMenu and FoodCard components, modify global.css)
/* Reset mặc định */
@layer base {
  :root {
    /* Bạn có thể bỏ hẳn CSS variables vì Tailwind mặc định đã có màu */
  }

  .dark {
    /* Dark mode sẽ dùng class `dark:` trong Tailwind */
  }
}

@layer base {
  * {
  }
  body {
    @apply bg-white text-gray-900;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
